@font-face {
    font-family: Noir_medium;
    src: url(fonts/Noir_medium.otf);
}
@font-face {
    font-family: Noir_regular;
    src: url(fonts/Noir_regular.otf);
}
@font-face {
    font-family: Melte;
    src: url(fonts/Melte.ttf);
}
@font-face {
    font-family: Katona;
    src: url(fonts/KatonaIII.ttf);
}

*{
  transition: all 150ms ease-in-out;
}
:root{
  font-size : 14px;
}

body{
  font-family: Noir_regular;
  background-image : url(media/background.png);
  background-repeat: no-repeat;
  background-size:100% auto;
  background-attachment: fixed;
}

strong{
  font-weight: normal;
  font-family: Noir_medium;*

}

/*Header*/

.header{
  background-color: rgba(0,0,0,.7);

}
.header h1{
  font-size: 2rem;
  padding : .8rem 0 .5rem ;
  font-family: Melte;
  color: white;
  margin:  0;
}

.header h2{
  padding : 0 0 1rem;
  font-family: Katona;
  color: white;
  margin : 0;
}
/*Menu*/

.nav {
  background-color: #051628;
  position: fixed;
  width: 100%;
  bottom :0 ;
  line-height: 3rem;
}
.nav a{
  font-family: Melte;
  text-align: center;
  height:100%;
  vertical-align: middle;
  color : white;
}

.nav a:hover{
  color:black;
  background-color: rgba(240,240,240,255);
}

.nav h3{
  vertical-align: middle;
}

.menu-container{
  width : 100%;
  margin: 0 auto;
}




/*Section media*/

.social-media div div{
  padding: 0 2vw;

}


.social-media div div{
  -webkit-filter: saturate(90%); /* Safari 6.0 - 9.0 */
  filter: saturate(90%);
}

.social-media div div:hover{
  cursor: pointer;
  -webkit-filter: saturate(120%);
  filter: saturate(120%);
}

.social-media .row{
  margin: 0 auto;
}

.social-media section{
  margin : 50vh auto 0;
}

.mail h3{
  margin: 2rem auto;
 color : white;
}




/*Section situation*/

.situation h3{
  font-family: Noir_medium;
  margin: 0 auto;
}

.situation h3 small{
  font-family: Noir_regular;
}
.situation{
    background-color: white;
}
.situation section{
  margin : 2.5rem 0;
}

/*Qui suis je*/

.resume{
  background-color: #434D59;
}

.resume h1{
  color : white;
  margin: 5rem 0 4rem;
  font-family: Noir_medium;
}

.resume section .row div{
  margin: 0 auto;
}

.resume p{
 font-size: 1.3rem;
 color: #BFC7D0;
}

.resume strong{
    color : white;
}

 .resume #legend{
  float: right;
  margin: 0 0 2rem 0;
  width:25vw;
  min-width: 250px;
  max-height: 400px;
  padding: 0 3vw ;
  overflow: hidden;
}
#legend img{
max-width: 100%;
}

.clear{
  clear : both;
}
.resume a{
    text-decoration: none;
    color : #2D3237;
}
.container-fluid .resume .cv-link{
  background-color: #BFC7D0;
  border-radius: 1rem;
  margin: 2rem auto 8rem;
  padding: 1rem;
  font-family: Noir_medium;
  font-size: 1.1rem;
}

.resume .cv-link:hover{
    background-color: #F7F8F9;
}


/*Portfolio*/

.pt1{
  background-color: white;
}

.pt2{
  background-color: #434D59;
  color : white;
}

.pt3{
  background-color: white;
}

.pt4{
  background-color: #434D59;
  color : white;
}

.portfolio h1{
  margin: 3rem 0 0;
  font-family: Noir_medium;
}

.portfolio h2{
  margin : 2rem 0 0;
  font-size: 1.3rem;
  font-family: Noir_medium;
}
.portfolio section{
margin: 0 auto 5rem;
}
.ptf-item {
  overflow: hidden;
  height : 40vh;
  padding: 2rem;
}

.ptf-item img{
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}


.ptf-item img:hover{
  cursor: pointer;
}

/*MEDIA QUERIES*/
@media (min-width: 576px) {
  .menu-container{
    width : 100%;
    margin: 0 auto;
  }

}
@media (min-width: 768px) {


  .social-media div{
    padding: 0 2vw;

  }


  body{
    background-position: 0 -10rem;
  }

}

@media (min-width: 992px) {
  .menu-container{
    width : 50%;
    margin: 0 auto;
  }
  body{
    background-position: 0 -15rem;
  }

      .resume #legend{
        width:25vw;
        min-width: 250px;
        padding: 0 4vw 2rem;
     }
     .resume .first-paragraph{
       padding-top: 4rem;
     }
     .clear{
         clear : none;
     }

     .wide-clear{
       clear:both;
     }


}

@media (min-width: 1200px) {
  .menu-container{
    width : 40%;
    margin: 0 auto;

  }

  body{
    background-position: 0 -35rem;
  }
}


@media screen and (orientation:portrait){

  .social-media section{
    margin : 45vh auto 0;
  }

    .resume #legend{
    float: none;
    margin: 0 auto 2rem;
   }

}

@media screen and (orientation:portrait) and (max-width:576px){

  .resume p {
    font-size: 1.2rem;
  }

  .container-fluid  #popup div{

    	margin: 10vh auto;

    }
}




@media screen and (orientation:landscape) and (max-width:768px){

  .social-media section{
    margin : 5vh auto 0;
  }

  .social-media div{
    padding: 0 6vw;

  }

  body{
    background-position: 0 -10rem;
  }
}


@media screen and (orientation:landscape) and (min-width:768px) and (max-width:990px){

  .social-media section{
    margin : 5vh auto 0;
  }

  .social-media div{
    padding: 0 2vw;

  }


  body{
    background-position: 0 -10rem;
  }


  }



  /*PopUp*/

  #popup{
  	top :0;
    bottom: 0;
    right: 0;
    left:0;
overflow-y: auto;

   background-color: rgba(20,29,39, .9);
  	position: fixed;
  	z-index :  1;
  	display: none;
  }

.container-fluid  #popup div{
  	display: block;
    position: static;
  	width : 70vw;
  	margin: 30vh auto;

  }
  .blocker{
    overflow: hidden;
  }

  #popup img{
  	max-width: 100%;
  	cursor: default;
  	margin: 0 auto;
  	display: block;
  	max-width: 100%;
  	text-align: center;
  	z-index: 0;
  }


  #popup .scroll{

  max-height: 1500px;

  }

  #exit{
  	position: absolute;
  	top :3%;
  	right : 5%;
  	width : 5vw;
  	height : 5vw;
  }

  #exit img:hover{
      cursor:pointer;
  }

  /*Footer*/

  .footer{
    font-size: 1.1rem;
    background-color: white;
    padding: 1rem 0 4rem;
  }

  .footer footer{
    margin: 0 auto;

  }
